ep1/flows.json
[
    {
        "id": "e10a0678.c58a28",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "0c3fd0d75b82e434",
        "type": "http in",
        "z": "e10a0678.c58a28",
        "name": "restData",
        "url": "/restData",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 280,
        "wires": [
            [
                "f0f0d174fc4fcb6a"
            ]
        ]
    },
    {
        "id": "7f3590a268815b34",
        "type": "http response",
        "z": "e10a0678.c58a28",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 790,
        "y": 360,
        "wires": []
    },
    {
        "id": "aa7488c59e583fb7",
        "type": "debug",
        "z": "e10a0678.c58a28",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 280,
        "wires": []
    },
    {
        "id": "3926be22c834d300",
        "type": "mysql",
        "z": "e10a0678.c58a28",
        "mydb": "e527bd01ccd044dc",
        "name": "database",
        "x": 560,
        "y": 360,
        "wires": [
            [
                "aa7488c59e583fb7",
                "7f3590a268815b34"
            ]
        ]
    },
    {
        "id": "efd5839954fb1672",
        "type": "inject",
        "z": "e10a0678.c58a28",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "select * from users",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 360,
        "wires": [
            [
                "3926be22c834d300"
            ]
        ]
    },
    {
        "id": "f0f0d174fc4fcb6a",
        "type": "change",
        "z": "e10a0678.c58a28",
        "name": "getAllUsers",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "SELECT * FROM users ORDER BY id DESC;",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 280,
        "wires": [
            [
                "3926be22c834d300",
                "aa7488c59e583fb7"
            ]
        ]
    },
    {
        "id": "e527bd01ccd044dc",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "node-red-api",
        "tz": "",
        "charset": "UTF8"
    }
]