ep7/flows.json
[
    {
        "id": "e10a0678.c58a28",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1721d0aa0153c53f",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "node-red-api",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "7f3590a268815b34",
        "type": "http response",
        "z": "e10a0678.c58a28",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 890,
        "y": 180,
        "wires": []
    },
    {
        "id": "3926be22c834d300",
        "type": "mysql",
        "z": "e10a0678.c58a28",
        "mydb": "1721d0aa0153c53f",
        "name": "database",
        "x": 520,
        "y": 180,
        "wires": [
            [
                "7f3590a268815b34",
                "a6d219fe2c170b64"
            ]
        ]
    },
    {
        "id": "92abd1e65ac5cc4b",
        "type": "change",
        "z": "e10a0678.c58a28",
        "name": "getAllSensor",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "SELECT * FROM sensor ORDER BY id DESC;",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 180,
        "wires": [
            [
                "3926be22c834d300"
            ]
        ]
    },
    {
        "id": "780d7219e147c162",
        "type": "http in",
        "z": "e10a0678.c58a28",
        "name": "sensor",
        "url": "/sensor",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 180,
        "wires": [
            [
                "92abd1e65ac5cc4b"
            ]
        ]
    },
    {
        "id": "a7afe10c7bbb1694",
        "type": "inject",
        "z": "e10a0678.c58a28",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 260,
        "wires": [
            [
                "198667f3c4c14c46"
            ]
        ]
    },
    {
        "id": "198667f3c4c14c46",
        "type": "function",
        "z": "e10a0678.c58a28",
        "name": "data sensor",
        "func": "const temperature = Math.floor(Math.random() * 100) + 1;\nconst humidity = Math.floor(Math.random() * 100) + 1;\nmsg.payload = [null, temperature, humidity];\nmsg.topic = \"INSERT INTO sensor (`id`, `temperature`, `humidity`) VALUES (?, ?, ?);\"\nreturn msg; ",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 260,
        "wires": [
            [
                "3926be22c834d300"
            ]
        ]
    },
    {
        "id": "5bd6fb93994927a0",
        "type": "catch",
        "z": "e10a0678.c58a28",
        "name": "",
        "scope": [
            "3926be22c834d300"
        ],
        "uncaught": false,
        "x": 470,
        "y": 120,
        "wires": [
            [
                "9e2a03c861683289"
            ]
        ]
    },
    {
        "id": "9e2a03c861683289",
        "type": "change",
        "z": "e10a0678.c58a28",
        "name": "error response",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"message\":\"get data not found!\",\"error\":true}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "statusCode",
                "pt": "msg",
                "to": "500",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 120,
        "wires": [
            [
                "7f3590a268815b34",
                "3ea0b693b059ba69"
            ]
        ]
    },
    {
        "id": "ed8c22fdb509c3a6",
        "type": "http in",
        "z": "e10a0678.c58a28",
        "name": "getById",
        "url": "/sensor/:id",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 70,
        "y": 460,
        "wires": [
            [
                "b0f76697ecea2044"
            ]
        ]
    },
    {
        "id": "1e648b26ae32f5e2",
        "type": "http response",
        "z": "e10a0678.c58a28",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 930,
        "y": 440,
        "wires": []
    },
    {
        "id": "b0f76697ecea2044",
        "type": "function",
        "z": "e10a0678.c58a28",
        "name": "getByIdFunction",
        "func": "const id = msg.req.params.id\nmsg.payload = [id]\nmsg.topic  = \"SELECT * FROM `sensor` WHERE id = ?;\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 460,
        "wires": [
            [
                "bd9996fc4e9f1d62"
            ]
        ]
    },
    {
        "id": "bd9996fc4e9f1d62",
        "type": "mysql",
        "z": "e10a0678.c58a28",
        "mydb": "1721d0aa0153c53f",
        "name": "dbGetById",
        "x": 410,
        "y": 460,
        "wires": [
            [
                "a51ae5f201321885"
            ]
        ]
    },
    {
        "id": "3f181bab364a2a50",
        "type": "catch",
        "z": "e10a0678.c58a28",
        "name": "catchGetById",
        "scope": [
            "bd9996fc4e9f1d62"
        ],
        "uncaught": false,
        "x": 510,
        "y": 380,
        "wires": [
            [
                "5332faf7d5134961"
            ]
        ]
    },
    {
        "id": "5332faf7d5134961",
        "type": "change",
        "z": "e10a0678.c58a28",
        "name": "error response",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"message\":\"get data by id not found!\",\"error\":true}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "statusCode",
                "pt": "msg",
                "to": "500",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 380,
        "wires": [
            [
                "1e648b26ae32f5e2",
                "2f88aff4598545a3"
            ]
        ]
    },
    {
        "id": "529b83da19b64e60",
        "type": "change",
        "z": "e10a0678.c58a28",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 500,
        "wires": [
            [
                "1e648b26ae32f5e2",
                "99ab7be431d07540"
            ]
        ]
    },
    {
        "id": "a51ae5f201321885",
        "type": "switch",
        "z": "e10a0678.c58a28",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 550,
        "y": 460,
        "wires": [
            [
                "5332faf7d5134961"
            ],
            [
                "529b83da19b64e60"
            ]
        ]
    },
    {
        "id": "3bb26b7a7e84baf1",
        "type": "comment",
        "z": "e10a0678.c58a28",
        "name": "getAll",
        "info": "",
        "x": 290,
        "y": 80,
        "wires": []
    },
    {
        "id": "5f95705d42b105d2",
        "type": "comment",
        "z": "e10a0678.c58a28",
        "name": "getById",
        "info": "",
        "x": 170,
        "y": 360,
        "wires": []
    },
    {
        "id": "499fa7a4d207e284",
        "type": "http in",
        "z": "e10a0678.c58a28",
        "name": "createData",
        "url": "/sensor",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 80,
        "y": 740,
        "wires": [
            [
                "912d355406a3a66d"
            ]
        ]
    },
    {
        "id": "fbed5d58dc2692c5",
        "type": "http response",
        "z": "e10a0678.c58a28",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 890,
        "y": 740,
        "wires": []
    },
    {
        "id": "912d355406a3a66d",
        "type": "function",
        "z": "e10a0678.c58a28",
        "name": "create sensor data func",
        "func": "\nconst temperature = msg.req.body.temperature\nconst humidity = msg.req.body.humidity\n\nmsg.payload = [null, temperature, humidity];\nmsg.topic = \"INSERT INTO sensor (`id`, `temperature`, `humidity`) VALUES (?, ?, ?);\"\nreturn msg; ",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 740,
        "wires": [
            [
                "426b01d15c6f64ba"
            ]
        ]
    },
    {
        "id": "426b01d15c6f64ba",
        "type": "mysql",
        "z": "e10a0678.c58a28",
        "mydb": "1721d0aa0153c53f",
        "name": "dataCreate",
        "x": 490,
        "y": 740,
        "wires": [
            [
                "8adf85944c22aefe"
            ]
        ]
    },
    {
        "id": "95fc155fa0390bdb",
        "type": "catch",
        "z": "e10a0678.c58a28",
        "name": "catchCreateData",
        "scope": [
            "426b01d15c6f64ba"
        ],
        "uncaught": false,
        "x": 220,
        "y": 660,
        "wires": [
            [
                "65317da4ade9b880"
            ]
        ]
    },
    {
        "id": "65317da4ade9b880",
        "type": "change",
        "z": "e10a0678.c58a28",
        "name": "error response",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"message\":\"create data not found!\",\"error\":true}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "statusCode",
                "pt": "msg",
                "to": "500",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 660,
        "wires": [
            [
                "fbed5d58dc2692c5",
                "11dff6bb50ca8eb5"
            ]
        ]
    },
    {
        "id": "11dff6bb50ca8eb5",
        "type": "debug",
        "z": "e10a0678.c58a28",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 660,
        "wires": []
    },
    {
        "id": "8adf85944c22aefe",
        "type": "change",
        "z": "e10a0678.c58a28",
        "name": "dataResponse",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"message\":\"create data successfully.\",\"error\":false}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "statusCode",
                "pt": "msg",
                "to": "201",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 740,
        "wires": [
            [
                "fbed5d58dc2692c5",
                "11dff6bb50ca8eb5"
            ]
        ]
    },
    {
        "id": "80eff1b3ebb77714",
        "type": "comment",
        "z": "e10a0678.c58a28",
        "name": "create",
        "info": "",
        "x": 210,
        "y": 600,
        "wires": []
    },
    {
        "id": "e8f2091c77218142",
        "type": "http in",
        "z": "e10a0678.c58a28",
        "name": "updateData",
        "url": "/sensor/:id",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 1040,
        "wires": [
            [
                "31fc6e8bc6b76fa5"
            ]
        ]
    },
    {
        "id": "31fc6e8bc6b76fa5",
        "type": "function",
        "z": "e10a0678.c58a28",
        "name": "update sensor data func",
        "func": "\nconst temperature = msg.req.body.temperature\nconst humidity = msg.req.body.humidity\nconst id = msg.req.params.id\n\nmsg.payload = [ temperature, humidity , id];\nmsg.topic = \"UPDATE `sensor` SET `temperature`=?,`humidity`=? WHERE id=?\"\nreturn msg; ",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 1040,
        "wires": [
            [
                "7c5e805bf5a68e2c"
            ]
        ]
    },
    {
        "id": "6c0c79fd6989b5e4",
        "type": "http response",
        "z": "e10a0678.c58a28",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 930,
        "y": 1040,
        "wires": []
    },
    {
        "id": "6a7521c632ccb202",
        "type": "change",
        "z": "e10a0678.c58a28",
        "name": "error response",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"message\":\"update data not found!\",\"error\":true}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "statusCode",
                "pt": "msg",
                "to": "500",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 960,
        "wires": [
            [
                "6c0c79fd6989b5e4",
                "0dadd62a3d691d31"
            ]
        ]
    },
    {
        "id": "0dadd62a3d691d31",
        "type": "debug",
        "z": "e10a0678.c58a28",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 960,
        "wires": []
    },
    {
        "id": "721dcad5f61b4d89",
        "type": "change",
        "z": "e10a0678.c58a28",
        "name": "dataResponse",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"message\":\"update data successfully.\",\"error\":false}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "statusCode",
                "pt": "msg",
                "to": "200",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 1040,
        "wires": [
            [
                "6c0c79fd6989b5e4",
                "0dadd62a3d691d31"
            ]
        ]
    },
    {
        "id": "7c5e805bf5a68e2c",
        "type": "mysql",
        "z": "e10a0678.c58a28",
        "mydb": "1721d0aa0153c53f",
        "name": "dataUpdate",
        "x": 530,
        "y": 1040,
        "wires": [
            [
                "721dcad5f61b4d89"
            ]
        ]
    },
    {
        "id": "a7ec8d76af1906a0",
        "type": "catch",
        "z": "e10a0678.c58a28",
        "name": "catchUpdateData",
        "scope": [
            "7c5e805bf5a68e2c"
        ],
        "uncaught": false,
        "x": 400,
        "y": 960,
        "wires": [
            [
                "6a7521c632ccb202"
            ]
        ]
    },
    {
        "id": "2f88aff4598545a3",
        "type": "debug",
        "z": "e10a0678.c58a28",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 360,
        "wires": []
    },
    {
        "id": "99ab7be431d07540",
        "type": "debug",
        "z": "e10a0678.c58a28",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 540,
        "wires": []
    },
    {
        "id": "a6d219fe2c170b64",
        "type": "debug",
        "z": "e10a0678.c58a28",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 260,
        "wires": []
    },
    {
        "id": "3ea0b693b059ba69",
        "type": "debug",
        "z": "e10a0678.c58a28",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 60,
        "wires": []
    },
    {
        "id": "450536167cace11b",
        "type": "comment",
        "z": "e10a0678.c58a28",
        "name": "update",
        "info": "",
        "x": 450,
        "y": 900,
        "wires": []
    },
    {
        "id": "cd6ebab62effc537",
        "type": "http in",
        "z": "e10a0678.c58a28",
        "name": "deleteById",
        "url": "/sensor/:id",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 80,
        "y": 1280,
        "wires": [
            [
                "1277696744fbc8f4"
            ]
        ]
    },
    {
        "id": "251c44b24f12ca8e",
        "type": "http response",
        "z": "e10a0678.c58a28",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1030,
        "y": 1280,
        "wires": []
    },
    {
        "id": "1277696744fbc8f4",
        "type": "function",
        "z": "e10a0678.c58a28",
        "name": "getByIdFunction",
        "func": "const id = msg.req.params.id\nmsg.payload = [id]\nmsg.topic  = \"SELECT * FROM `sensor` WHERE id = ?;\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 1280,
        "wires": [
            [
                "18af0934a258f5b1"
            ]
        ]
    },
    {
        "id": "18af0934a258f5b1",
        "type": "mysql",
        "z": "e10a0678.c58a28",
        "mydb": "1721d0aa0153c53f",
        "name": "dbGetById",
        "x": 410,
        "y": 1280,
        "wires": [
            [
                "8baa59d22346e27c"
            ]
        ]
    },
    {
        "id": "5f77b55aa585b9a9",
        "type": "catch",
        "z": "e10a0678.c58a28",
        "name": "catchGetById",
        "scope": [
            "18af0934a258f5b1"
        ],
        "uncaught": false,
        "x": 510,
        "y": 1200,
        "wires": [
            [
                "83dd902313c545e8"
            ]
        ]
    },
    {
        "id": "83dd902313c545e8",
        "type": "change",
        "z": "e10a0678.c58a28",
        "name": "error response",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"message\":\"delete data by id not found!\",\"error\":true}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "statusCode",
                "pt": "msg",
                "to": "500",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 1200,
        "wires": [
            [
                "251c44b24f12ca8e",
                "7e9a6f7134872a8e"
            ]
        ]
    },
    {
        "id": "8baa59d22346e27c",
        "type": "switch",
        "z": "e10a0678.c58a28",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 550,
        "y": 1280,
        "wires": [
            [
                "83dd902313c545e8"
            ],
            [
                "3d9b940e18ce78f1"
            ]
        ]
    },
    {
        "id": "aaa69aed95ce31fe",
        "type": "comment",
        "z": "e10a0678.c58a28",
        "name": "deleteById",
        "info": "",
        "x": 200,
        "y": 1180,
        "wires": []
    },
    {
        "id": "7e9a6f7134872a8e",
        "type": "debug",
        "z": "e10a0678.c58a28",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 1180,
        "wires": []
    },
    {
        "id": "4a023864d40c7b4e",
        "type": "debug",
        "z": "e10a0678.c58a28",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 1400,
        "wires": []
    },
    {
        "id": "3d9b940e18ce78f1",
        "type": "function",
        "z": "e10a0678.c58a28",
        "name": "deleteByIdFunction",
        "func": "const id = msg.req.params.id\nmsg.payload = [id]\nmsg.topic  = \"DELETE FROM `sensor` WHERE id = ?;\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 1380,
        "wires": [
            [
                "67681be25a189bae"
            ]
        ]
    },
    {
        "id": "67681be25a189bae",
        "type": "mysql",
        "z": "e10a0678.c58a28",
        "mydb": "1721d0aa0153c53f",
        "name": "dbDeleteById",
        "x": 480,
        "y": 1380,
        "wires": [
            [
                "8f399dedf29563a9"
            ]
        ]
    },
    {
        "id": "9614c1f76915af89",
        "type": "change",
        "z": "e10a0678.c58a28",
        "name": "error response",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"message\":\"delete data by id not found!\",\"error\":true}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "statusCode",
                "pt": "msg",
                "to": "500",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 1460,
        "wires": [
            [
                "4a023864d40c7b4e",
                "251c44b24f12ca8e"
            ]
        ]
    },
    {
        "id": "6cb250ad44d13a93",
        "type": "catch",
        "z": "e10a0678.c58a28",
        "name": "catchDeleteById",
        "scope": [
            "67681be25a189bae"
        ],
        "uncaught": false,
        "x": 400,
        "y": 1460,
        "wires": [
            [
                "9614c1f76915af89"
            ]
        ]
    },
    {
        "id": "8f399dedf29563a9",
        "type": "change",
        "z": "e10a0678.c58a28",
        "name": "success response",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"message\":\"delete data by id successfully.\",\"error\":false}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 1360,
        "wires": [
            [
                "251c44b24f12ca8e",
                "4a023864d40c7b4e"
            ]
        ]
    }
]